*.exe
*.dll
*.so
*.o
*.obj
*.out
*.map
*.a
*.lib

*.stackdump

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/
*.ilk
*.pdb

build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

products.dat
users.dat
checks.dat

*.txt
*.csv
*.xlsx
*.pdf

.vscode/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.user
*.filters
*.suo

.idea/