cmake-build-*/
build/
out/

.idea/
cmake-build-debug/
cmake-build-release/
*.iml

*.o
*.obj
*.lo
*.la
*.a
*.lib
*.dll
*.so
*.dylib

*.exe
*.out
*.app

*.pdb
*.mod
*.idb

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

*.log
*.tmp
*.swp
*.bak

Thumbs.db
Desktop.ini

